#root {
  margin: 0 auto;
  text-align: center;
}

.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

nav {
  --bs-bg-opacity: 1;
  margin: 0px;
  padding: 0px;
  border-bottom: 1px solid rgb(128, 128, 128);
  background-color: rgba(91, 176, 229, 0.362);
  color: #333333;
}

.logout_button {
  margin: 0px;
  padding: 2px;
  border: 0px;
  background-color: rgba(91, 176, 229, 0);
  color: #333333;
}

.logout_button:hover {
  background-color: rgba(91, 176, 229);
}

.navbar-text > .navbar-brand:hover,
.navbar-brand:hover {
  text-decoration: underline;
  color: rgba(91, 176, 229);
}

.middle-of-page {
  padding: 30px 20px 20px 20px;
  min-height: 75vh;
}

footer {
  border-top: 1px solid rgb(128, 128, 128);
  color: rgba(3, 3, 3, 0.6);
  margin-top: auto;
  background-color: rgba(91, 176, 229, 0.362);
  padding: 10px;
}
